div#container
{
   width: 1000px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Header
{
   background-color: #F5F5F5;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Menu
{
   border: 0px #3E91FF solid;
   background-color: transparent;
}
#wb_Menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_Menu li
{
   float: left;
   margin: 0;
   padding: 0px 8px 0px 0px;
}
#wb_Menu a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFFFFF none;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_Menu li:hover a, #wb_Menu a:hover, #wb_Menu .active
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF none;
}
#wb_Menu li.firstmain
{
   padding-left: 0px;
}
#wb_Menu li.lastmain
{
   padding-right: 0px;
}
#wb_Menu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#LayerHeader
{
   background-color: #3E91FF;
   background-image: none;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerMain
{
   background-color: transparent;
   background-image: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#LayerFooter
{
   background-color: #3E91FF;
   background-image: none;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#Layer1
{
   background-color: #3E91FF;
   background-image: none;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#PageFooter1
{
   background-color: #3E91FF;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Text1
{
   position: absolute;
   left: 24px;
   top: 34px;
   width: 950px;
   height: 209px;
   z-index: 6;
}
#wb_Text2
{
   position: absolute;
   left: 374px;
   top: 11px;
   width: 250px;
   height: 76px;
   text-align: center;
   z-index: 12;
}
#wb_Image1
{
   position: absolute;
   left: 24px;
   top: 5px;
   width: 395px;
   height: 88px;
   z-index: 1;
}
#wb_Text3
{
   position: absolute;
   left: 31px;
   top: 16px;
   width: 412px;
   height: 185px;
   text-align: center;
   z-index: 5;
}
#wb_Text4
{
   position: absolute;
   left: 345px;
   top: 554px;
   width: 308px;
   height: 24px;
   z-index: 10;
}
#wb_Image2
{
   position: absolute;
   left: 573px;
   top: 282px;
   width: 327px;
   height: 237px;
   z-index: 9;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 99px;
   top: 282px;
   width: 474px;
   height: 237px;
   z-index: 8;
}
#Layer1_Container
{
   width: 474px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#LayerFooter
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 0px;
   width: 1000px;
   height: 99px;
   z-index: 7;
}
#LayerMain
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 98px;
   width: 1000px;
   height: 617px;
   z-index: 13;
}
#wb_Menu
{
   position: absolute;
   left: 600px;
   top: 35px;
   width: 374px;
   height: 28px;
   text-align: center;
   z-index: 0;
}
#LayerHeader
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 98px;
   z-index: 2;
}
#Header
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 98px;
   z-index: 7777;
}
#PageFooter1
{
   position: absolute;
   overflow: hidden;
   text-align: center;
   left: 0px;
   top: 715px;
   width: 100%;
   height: 99px;
   z-index: 14;
}
#LayerHeader_Container
{
   width: 1000px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#PageFooter1_Container
{
   width: 1000px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
@media only screen and (max-width: 999px)
{
div#container
{
   width: 320px;
}
#wb_Menu
{
   left: 28px;
   top: 161px;
   width: 265px;
   height: 192px;
   visibility: visible;
   display: inline;
}
#wb_Menu li
{
}
#wb_Menu a
{
   color: #FFFFFF;
   border: 0px #FFFFFF none;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
}
#wb_Menu li:hover a, #wb_Menu a:hover, #wb_Menu .active
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF none;
}
#wb_Menu ul
{
   width: 100%;
}
#wb_Menu li
{
   padding: 0 0px 8px 0px;
   width: 100%;
}
#wb_Menu a
{
   float: none;
   width: 100%;
}
#LayerHeader
{
   left: 0px;
   top: 0px;
   height: 142px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3E91FF;
   background-image: none;
}
#LayerHeader
{
   width: 100%;
}
#LayerHeader_Container
{
   width: 320px;
}
#wb_Image1
{
   left: 12px;
   top: 5px;
   width: 395px;
   height: 88px;
   visibility: visible;
   display: inline;
}
#LayerMain
{
   left: 0px;
   top: 98px;
   width: 1000px;
   height: 703px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   left: 119px;
   top: 45px;
   width: 499px;
   height: 336px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Image2
{
   left: 69px;
   top: 303px;
   width: 365px;
   height: 266px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   left: -8px;
   top: 797px;
   width: 250px;
   height: 68px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#Layer1
{
   left: 1077px;
   top: 126px;
   width: 200px;
   height: 198px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3E91FF;
   background-image: none;
}
#Layer1_Container
{
   width: 200px;
}
#wb_Text4
{
   left: 0px;
   top: 1118px;
   width: 320px;
   height: 62px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#PageFooter1
{
   top: 22px;
   height: 31px;
   visibility: visible;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   background-image: none;
   border: 0px transparent solid;
}
#PageFooter1
{
   width: 19.375%;
}
#PageFooter1_Container
{
   width: 62px;
}
}
