div#container
{
   width: 1000px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Header
{
   background-color: #F5F5F5;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Menu
{
   border: 0px #3E91FF solid;
   background-color: transparent;
}
#wb_Menu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_Menu li
{
   float: left;
   margin: 0;
   padding: 0px 8px 0px 0px;
}
#wb_Menu a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #FFFFFF none;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_Menu li:hover a, #wb_Menu a:hover, #wb_Menu .active
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF none;
}
#wb_Menu li.firstmain
{
   padding-left: 0px;
}
#wb_Menu li.lastmain
{
   padding-right: 0px;
}
#wb_Menu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#LayerHeader
{
   background-color: #3E91FF;
   background-image: none;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerMain
{
   background-color: #F5F5F5;
   background-image: none;
}
#wb_LableR1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_LableR1 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#r1
{
   background-color: #FBFBFB;
   background-image: none;
}
#wb_lable1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_lable1 div
{
   text-align: left;
   white-space: nowrap;
}
#PhotoCollage1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   position: relative;
}
#PhotoCollage1 .thumbnail img
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#PhotoCollage1 .thumbnail
{
   position: absolute;
}
#PhotoCollage1 .thumbnail img
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
}
#PhotoCollage2
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   position: relative;
}
#PhotoCollage2 .thumbnail img
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#PhotoCollage2 .thumbnail
{
   position: absolute;
}
#PhotoCollage2 .thumbnail img
{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
   white-space: nowrap;
}
#Pagination3
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: bold;
   font-size: 0;
}
#Pagination3 > li
{
   display: inline;
   font-size: 24px;
}
#Pagination3 > li > a, #Pagination3 > li > span
{
   position: relative;
   float: left;
   padding: 6px 12px 6px 12px;
   text-decoration: none;
   background-color: #3E91FF;
   background-image: none;
   border: 1px #DDDDDD solid;
   color: #FFFFFF;
   margin-left: -1px;
}
#Pagination3 > li:first-child > a, #Pagination3 > li:first-child > span
{
   margin-left: 0;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#Pagination3 > li:last-child > a, #Pagination3 > li:last-child > span
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Pagination3 > li > a:hover, #Pagination3 > li > span:hover, #Pagination3 > li > a:focus, #Pagination3 > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#Pagination3 > .active > a, #Pagination3 > .active > span, #Pagination3 > .active > a:hover, #Pagination3 > .active > span:hover, #Pagination3 > .active > a:focus, #Pagination3 > .active > span:focus
{
   z-index: 2;
   background-color: #F5F5F5;
   border-color: #F5F5F5;
   color: #3E91FF;
   cursor: default;
}
#Pagination3 > .disabled > span, #Pagination3 > .disabled > span:hover, #Pagination3 > .disabled > span:focus, #Pagination3 > .disabled > a, #Pagination3 > .disabled > a:hover, #Pagination3 > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#Pagination1
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: bold;
   font-size: 0;
}
#Pagination1 > li
{
   display: inline;
   font-size: 24px;
}
#Pagination1 > li > a, #Pagination1 > li > span
{
   position: relative;
   float: left;
   padding: 6px 12px 6px 12px;
   text-decoration: none;
   background-color: #3E91FF;
   background-image: none;
   border: 1px #DDDDDD solid;
   color: #FFFFFF;
   margin-left: -1px;
}
#Pagination1 > li:first-child > a, #Pagination1 > li:first-child > span
{
   margin-left: 0;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-bottom-left-radius: 4px;
   border-bottom-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-top-left-radius: 4px;
   border-top-left-radius: 4px;
}
#Pagination1 > li:last-child > a, #Pagination1 > li:last-child > span
{
   -webkit-border-bottom-right-radius: 4px;
   -moz-border-bottom-right-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-top-right-radius: 4px;
   border-top-right-radius: 4px;
}
#Pagination1 > li > a:hover, #Pagination1 > li > span:hover, #Pagination1 > li > a:focus, #Pagination1 > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#Pagination1 > .active > a, #Pagination1 > .active > span, #Pagination1 > .active > a:hover, #Pagination1 > .active > span:hover, #Pagination1 > .active > a:focus, #Pagination1 > .active > span:focus
{
   z-index: 2;
   background-color: #F5F5F5;
   border-color: #F5F5F5;
   color: #3E91FF;
   cursor: default;
}
#Pagination1 > .disabled > span, #Pagination1 > .disabled > span:hover, #Pagination1 > .disabled > span:focus, #Pagination1 > .disabled > a, #Pagination1 > .disabled > a:hover, #Pagination1 > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#PageFooter1
{
   background-color: #3E91FF;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Text1
{
   position: absolute;
   left: 499px;
   top: 9px;
   width: 446px;
   height: 308px;
   z-index: 8;
}
#wb_Text2
{
   position: absolute;
   left: 374px;
   top: 11px;
   width: 250px;
   height: 76px;
   text-align: center;
   z-index: 18;
}
#wb_Image1
{
   position: absolute;
   left: 24px;
   top: 5px;
   width: 395px;
   height: 88px;
   z-index: 1;
}
#r1
{
   position: absolute;
   text-align: left;
   left: 24px;
   top: 100px;
   width: 950px;
   height: 430px;
   z-index: 9;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 556px;
   width: 974px;
   height: 430px;
   z-index: 11;
}
#LayerMain
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 98px;
   width: 1000px;
   height: 1082px;
   z-index: 19;
}
#wb_Pagination1
{
   position: absolute;
   left: 419px;
   top: 1002px;
   width: 160px;
   height: 63px;
   z-index: 13;
}
#wb_Menu
{
   position: absolute;
   left: 600px;
   top: 35px;
   width: 374px;
   height: 28px;
   text-align: center;
   z-index: 0;
}
#wb_PhotoCollage1
{
   position: absolute;
   left: 24px;
   top: 11px;
   width: 409px;
   height: 409px;
   z-index: 5;
}
#LayerHeader
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 98px;
   z-index: 2;
}
#wb_Pagination3
{
   position: absolute;
   left: 419px;
   top: 46px;
   width: 160px;
   height: 63px;
   z-index: 12;
}
#wb_PhotoCollage2
{
   position: absolute;
   left: 46px;
   top: 9px;
   width: 409px;
   height: 409px;
   z-index: 7;
}
#wb_lable1
{
   position: absolute;
   left: 475px;
   top: 9px;
   width: 446px;
   height: 327px;
   z-index: 6;
}
#Header
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 98px;
   z-index: 7777;
}
#PageFooter1
{
   position: absolute;
   overflow: hidden;
   text-align: center;
   left: 0px;
   top: 1163px;
   width: 100%;
   height: 99px;
   z-index: 20;
}
#LayerHeader_Container
{
   width: 1000px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_LableR1
{
   position: absolute;
   left: 371px;
   top: 11px;
   width: 256px;
   height: 24px;
   text-align: center;
   z-index: 10;
}
#PageFooter1_Container
{
   width: 1000px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
@media only screen and (max-width: 999px)
{
div#container
{
   width: 320px;
}
#wb_Menu
{
   left: 28px;
   top: 161px;
   width: 265px;
   height: 192px;
   visibility: visible;
   display: inline;
}
#wb_Menu li
{
}
#wb_Menu a
{
   color: #FFFFFF;
   border: 0px #FFFFFF none;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
}
#wb_Menu li:hover a, #wb_Menu a:hover, #wb_Menu .active
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF none;
}
#wb_Menu ul
{
   width: 100%;
}
#wb_Menu li
{
   padding: 0 0px 8px 0px;
   width: 100%;
}
#wb_Menu a
{
   float: none;
   width: 100%;
}
#LayerHeader
{
   left: 0px;
   top: 0px;
   height: 142px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3E91FF;
   background-image: none;
}
#LayerHeader
{
   width: 100%;
}
#LayerHeader_Container
{
   width: 320px;
}
#wb_Image1
{
   left: 12px;
   top: 5px;
   width: 395px;
   height: 88px;
   visibility: visible;
   display: inline;
}
#LayerMain
{
   left: 0px;
   top: 98px;
   width: 1000px;
   height: 703px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #F5F5F5;
   background-image: none;
}
#wb_Text2
{
   left: -8px;
   top: 797px;
   width: 250px;
   height: 68px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#r1
{
   left: 36px;
   top: 22px;
   width: 200px;
   height: 200px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#wb_PhotoCollage1
{
   left: -9px;
   top: -11px;
   width: 409px;
   height: 409px;
   visibility: visible;
   display: inline;
}
#wb_PhotoCollage2
{
   left: 27px;
   top: 588px;
   width: 409px;
   height: 409px;
   visibility: visible;
   display: inline;
}
#wb_Pagination3
{
   left: 419px;
   top: 46px;
   width: 160px;
   height: 63px;
   visibility: visible;
   display: inline;
}
#PageFooter1
{
   top: 22px;
   height: 31px;
   visibility: visible;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   background-image: none;
   border: 0px transparent solid;
}
#PageFooter1
{
   width: 19.375%;
}
#PageFooter1_Container
{
   width: 62px;
}
}
